body {
    background-color: $body-bg;
}
.primary {
    color: #1a5bff;
}
.success {
    color: #46c93a;
}
.danger {
    color: #ff4756;
}
.warn {
    color: #ffbb00;
}
.btc-color {
    color: #f7931a;
}
.white {
    color: #fff;
}