/* ------------------------------------------------------------ *\
	Sprite
\* ------------------------------------------------------------ */

/* ------------------------------------------------------------ *\
  Vendor
\* ------------------------------------------------------------ */

/* ------------------------------------------------------------ *\
	Generic
\* ------------------------------------------------------------ */

/* ------------------------------------------------------------ *\
  SCSS Functions
\* ------------------------------------------------------------ */

/* example usage*/

/* ------------------------------------------------------------ *\
	Reset
\* ------------------------------------------------------------ */

* {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: inherit;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
main {
  display: block;
}

template {
  display: none;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

img,
iframe,
video,
audio,
object {
  max-width: 100%;
}

img,
iframe {
  border: 0 none;
}

img {
  height: auto;
  display: inline-block;
  vertical-align: middle;
}

b,
strong {
  font-weight: bold;
}

address {
  font-style: normal;
}

svg:not(:root) {
  overflow: hidden;
}

a,
button,
input[type=submit],
input[type=button],
input[type=reset],
input[type=file],
input[type=image],
label[for] {
  cursor: pointer;
}

a[href^=tel],
button[disabled],
input[disabled],
textarea[disabled],
select[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

input[type=text],
input[type=password],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=month],
input[type=week],
input[type=email],
input[type=number],
input[type=search],
input[type=tel],
input[type=time],
input[type=url],
input[type=color],
textarea,
a[href^=tel] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
          appearance: none;
}

textarea {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

button,
select {
  text-transform: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

nav ul,
nav ol {
  list-style: none outside none;
}

input::-moz-placeholder {
  color: inherit;
  opacity: 1;
}

input:-ms-input-placeholder {
  color: inherit;
  opacity: 1;
}

input::placeholder {
  color: inherit;
  opacity: 1;
}

textarea::-moz-placeholder {
  color: inherit;
  opacity: 1;
}

textarea:-ms-input-placeholder {
  color: inherit;
  opacity: 1;
}

textarea::placeholder {
  color: inherit;
  opacity: 1;
}

input:-webkit-autofill {
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0 1000px #fff inset;
}

input[type=text],
input[type=button],
input[type=tel],
input[type=email],
input[type=submit],
input[type=date],
input[type=search],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/* ------------------------------------------------------------ *\
    Fonts
\* ------------------------------------------------------------ */

/* ------------------------------------------------------------ *\
	Base
\* ------------------------------------------------------------ */

body {
  min-width: 320px;
  background: #fff;
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.79;
  color: #fff;
}

a {
  color: inherit;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

a[href^=tel] {
  text-decoration: none;
}

.h1,
h1,
.h2,
h2,
.h3,
h3,
.h4,
h4,
.h5,
h5,
.h6,
h6 {
  margin-bottom: calc(1.79em / 2);
}

.h1,
h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.33;
}

@media (max-width: 1023px) {
  .h1,
  h1 {
    font-size: 35px;
  }
}

.h2,
h2 {
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 0.05em;
}

.h4,
h4 {
  font-size: 30px;
  letter-spacing: 0.05em;
  font-weight: 400;
}

.h6,
h6 {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.075em;
  color: #00c6ff;
}

p,
ul,
ol,
dl,
hr,
table,
blockquote {
  margin-bottom: 1.79em;
}

h1[class],
h2[class],
h3[class],
h4[class],
h5[class],
h6[class],
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
p:last-child,
ul:last-child,
ol:last-child,
dl:last-child,
table:last-child,
blockquote:last-child {
  margin-bottom: 0;
}

/* ------------------------------------------------------------ *\
  Helpers
\* ------------------------------------------------------------ */

/*  Clear  */

.clear:after {
  content: "";
  line-height: 0;
  display: table;
  clear: both;
}

/* sr-only */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/*  Notext  */

.notext {
  white-space: nowrap;
  text-indent: 100%;
  text-shadow: none;
  overflow: hidden;
}

.notext-old {
  font-size: 0;
  line-height: 0;
  text-indent: -4000px;
}

/*  Hidden  */

[hidden],
.hidden {
  display: none;
}

/*  Disabled  */

[disabled],
.disabled {
  cursor: default;
}

/*  Responsive Helpers  */

.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important;
}

@media (max-width: 767px), screen and (max-width: 812px) and (orientation: landscape) {
  .hidden-xs {
    display: none !important;
  }

  .visible-xs-block {
    display: block !important;
  }

  .visible-xs-inline {
    display: inline !important;
  }

  .visible-xs-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 767.02px) and (max-width: 1023px) {
  .hidden-sm {
    display: none !important;
  }

  .visible-sm-block {
    display: block !important;
  }

  .visible-sm-inline {
    display: inline !important;
  }

  .visible-sm-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 1023.02px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }

  .visible-md-block {
    display: block !important;
  }

  .visible-md-inline {
    display: inline !important;
  }

  .visible-md-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 1199.02px) {
  .hidden-lg {
    display: none !important;
  }

  .visible-lg-block {
    display: block !important;
  }

  .visible-lg-inline {
    display: inline !important;
  }

  .visible-lg-inline-block {
    display: inline-block !important;
  }
}

/* ------------------------------------------------------------ *\
	Components
\* ------------------------------------------------------------ */

/* ------------------------------------------------------------ *\
	Bar
\* ------------------------------------------------------------ */

.bar {
  background-color: inherit;
  padding-top: 15px;
  padding-bottom: 15px;
  max-width: 1170px;
  margin: 0 auto;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
}

.bar .bar__inner {
  display: flex;
  justify-content: space-between;
  padding: 0 6px 0 8px;
}

@media (max-width: 767px), screen and (max-width: 812px) and (orientation: landscape) {
  .bar .bar__inner {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

.bar p {
  font-size: 16px;
  letter-spacing: 0.075em;
  color: #abb1b3;
  line-height: 1.25;
  font-weight: 400;
  margin-top: 3px;
  margin-bottom: 1px;
}

/* ------------------------------------------------------------ *\
	Button
\* ------------------------------------------------------------ */

.btn {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  min-width: 171px;
  min-height: 53px;
  line-height: 53px;
  font-size: 20px;
  color: #011f27;
  padding: 0 20px;
  font-weight: 400;
  color: #011f27;
  background-color: #fff;
  border-radius: 20px;
  letter-spacing: 0.05em;
  transition: background-color 0.3s, color 0.3s;
}

.btn:hover {
  background-color: #0271ff;
  color: #fff;
}

/*  Btn secondary  */

.btn--secondary {
  background-color: transparent;
  border: 4px solid #fff;
  min-height: 66px;
  min-width: 141px;
  line-height: 58px;
  font-size: 16px;
  color: #fff;
  box-shadow: none;
}

.btn--secondary:hover {
  background-color: #0271ff;
}

/*  Btn alt  */

.btn--alt {
  background-color: #2888ff;
  color: #fff;
}

/*  Btn block  */

.btn--block {
  display: block;
  padding-left: 0;
  padding-right: 0;
}

/* ------------------------------------------------------------ *\
	Burger btn
\* ------------------------------------------------------------ */

.burger-btn {
  padding-top: 16px;
  margin-left: 20px;
  position: relative;
  z-index: 6;
  display: none;
}

@media (max-width: 1023px) {
  .burger-btn {
    display: block;
  }
}

.burger-btn span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #011f27;
  transition: transform 0.3s;
}

.burger-btn span + span {
  margin-top: 5px;
}

.burger-btn.is-active span:first-child {
  transform: rotate(45deg);
  position: absolute;
  top: 21px;
}

.burger-btn.is-active span:nth-child(2) {
  display: none;
}

.burger-btn.is-active span:last-child {
  transform: rotate(135deg);
}

/* ------------------------------------------------------------ *\
	Card
\* ------------------------------------------------------------ */

.card {
  margin-top: 26px;
}

@media (max-width: 767px), screen and (max-width: 812px) and (orientation: landscape) {
  .card {
    margin-top: 50px;
  }
}

.card .card__image {
  max-width: 216px;
  width: 100%;
  min-height: 202px;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4px;
}

@media (max-width: 767px), screen and (max-width: 812px) and (orientation: landscape) {
  .card .card__image {
    max-width: 170px;
    min-height: 155px;
    margin: 0 auto 15px;
  }
}

.card .card__content {
  text-align: center;
}

.card .card__content h4 {
  margin-bottom: 0px;
  font-weight: 500;
}

@media (max-width: 767px), screen and (max-width: 812px) and (orientation: landscape) {
  .card .card__content h4 {
    font-size: 25px;
    line-height: 1.2;
    margin-bottom: 10px;
  }
}

.card .card__content p {
  font-size: 16px;
  line-height: 1.25;
  color: #efefef;
}

@media (max-width: 767px), screen and (max-width: 812px) and (orientation: landscape) {
  .card .card__content p {
    font-size: 14px;
  }
}

/* ------------------------------------------------------------ *\
	Fields
\* ------------------------------------------------------------ */

.field {
  width: 100%;
  outline: none;
  height: 40px;
  font-size: 13px;
  color: #a4a4a4;
  border: none;
  border-radius: 4px;
  padding-left: 54px;
  padding-right: 8px;
  font-weight: 500;
}

.field:-ms-input-placeholder {
  color: #828282;
}

/*  Field textarea  */

/* ------------------------------------------------------------ *\
	Footer
\* ------------------------------------------------------------ */

.footer {
  background-size: cover;
  background-repeat: no-repeat;
}

.footer .footer__inner {
  padding: 75px 0 24px 7px;
}

@media (max-width: 1023px) {
  .footer .footer__inner {
    padding: 76px 0 24px 0;
  }
}

@media (max-width: 767px), screen and (max-width: 812px) and (orientation: landscape) {
  .footer .footer__inner {
    padding: 50px 0 24px 0;
  }
}

.footer .footer__cols {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 767px), screen and (max-width: 812px) and (orientation: landscape) {
  .footer .footer__cols {
    text-align: center;
  }
}

.footer .footer__col--size-1 {
  width: 39.8%;
}

@media (max-width: 767px), screen and (max-width: 812px) and (orientation: landscape) {
  .footer .footer__col--size-1 {
    width: 100%;
  }
}

.footer .footer__col--size-2 {
  width: 36.4%;
}

@media (max-width: 767px), screen and (max-width: 812px) and (orientation: landscape) {
  .footer .footer__col--size-2 {
    width: 100%;
  }
}

.footer .footer__col--size-3 {
  width: 23.8%;
}

@media (max-width: 767px), screen and (max-width: 812px) and (orientation: landscape) {
  .footer .footer__col--size-3 {
    width: 100%;
  }
}

.footer .footer__logo {
  margin-top: 9px;
  display: inline-block;
}

@media (max-width: 767px), screen and (max-width: 812px) and (orientation: landscape) {
  .footer .footer__logo {
    margin-top: 0;
  }
}

.footer .footer__entry {
  padding-right: 100px;
}

@media (max-width: 1023px) {
  .footer .footer__entry {
    padding-right: 70px;
  }
}

@media (max-width: 1023px) {
  .footer .footer__entry {
    padding-right: 0;
  }
}

.footer .footer__entry p {
  font-size: 16px;
  line-height: 1.25;
  margin-top: 38px;
  letter-spacing: 0.075em;
  color: #d0d6d7;
}

@media (max-width: 767px), screen and (max-width: 812px) and (orientation: landscape) {
  .footer .footer__entry p {
    margin: 20px 0 20px;
    font-size: 14px;
  }
}

.footer .footer__head {
  margin-bottom: 23px;
}

@media (max-width: 767px), screen and (max-width: 812px) and (orientation: landscape) {
  .footer .footer__head h6 {
    font-size: 18px;
  }
}

@media (max-width: 767px), screen and (max-width: 812px) and (orientation: landscape) {
  .footer .footer__nav {
    margin-bottom: 20px;
  }
}

.footer .footer__nav li + li {
  margin-top: 22px;
}

@media (max-width: 767px), screen and (max-width: 812px) and (orientation: landscape) {
  .footer .footer__nav li + li {
    margin-top: 15px;
  }
}

.footer .footer__nav a {
  text-decoration: none;
  font-size: 20px;
  letter-spacing: 0.075em;
  font-weight: 500;
  color: #cfddf3;
  transition: color 0.3s;
}

@media (max-width: 767px), screen and (max-width: 812px) and (orientation: landscape) {
  .footer .footer__nav a {
    font-size: 18px;
  }
}

.footer .footer__nav a:hover {
  color: #00c6ff;
}

/* ------------------------------------------------------------ *\
	Form
\* ------------------------------------------------------------ */

.form-sign-up {
  padding: 0 6px;
}

.form-sign-up .form__head {
  text-align: right;
  max-width: 175px;
  margin-left: auto;
  margin-bottom: 14px;
}

@media (max-width: 767px), screen and (max-width: 812px) and (orientation: landscape) {
  .form-sign-up .form__head {
    text-align: center;
    max-width: 100%;
  }
}

.form-sign-up .form__head h6 {
  color: #fff;
  font-weight: 400;
  letter-spacing: 0.075em;
  line-height: 1.6;
}

@media (max-width: 767px), screen and (max-width: 812px) and (orientation: landscape) {
  .form-sign-up .form__head h6 {
    font-size: 18px;
  }
}

.form-sign-up .form__controls {
  position: relative;
}

.form-sign-up .form__controls:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  background-image: url(/images/ico-mail.svg?b395fc1acdbafc8cd1fd7775cfb65b57);
  background-repeat: no-repeat;
  width: 24px;
  height: 15px;
}

.form-sign-up .form__controls:after {
  content: "";
  display: block;
  width: 2px;
  height: 30px;
  background-color: #e8e8e8;
  position: absolute;
  top: 6px;
  left: 48px;
}

.form-sign-up .form__body {
  margin-bottom: 10px;
}

.form-sign-up .form__actions {
  text-align: right;
}

@media (max-width: 1023px) {
  .form-sign-up .form__actions {
    text-align: center;
  }
}

.form-sign-up .form__btn {
  min-width: 79px;
  min-height: 31px;
  line-height: 31px;
  font-size: 14px;
  letter-spacing: 0.075em;
  background-color: #00c6ff;
  border-radius: 4px;
  border: none;
  outline: none;
  color: #fff;
  padding: 0 10px;
  font-weight: 500;
}

.form-sign-up .form__btn:hover {
  background-color: #0b3870;
}

/* ------------------------------------------------------------ *\
	Grid
\* ------------------------------------------------------------ */

.grid {
  display: flex;
  flex-flow: row wrap;
  margin: 0 -29px;
  /*  Grid col 1of2  */
  /*  Grid col 1of3  */
}

@media (max-width: 1023px) {
  .grid {
    margin: 0 -15px;
  }
}

.grid .grid__col {
  max-width: 100%;
  flex: 1;
}

.grid .grid__col--1of2 {
  max-width: 50%;
  flex: 0 0 50%;
}

.grid .grid__col--1of3 {
  max-width: 33.33%;
  flex: 0 0 33.33%;
  padding: 0 29px;
}

@media (max-width: 767px), screen and (max-width: 812px) and (orientation: landscape) {
  .grid .grid__col--1of3 {
    padding: 0 15px;
    max-width: 50%;
    flex: 0 0 50%;
  }
}

/* ------------------------------------------------------------ *\
	Header
\* ------------------------------------------------------------ */

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.header .header__inner {
  display: flex;
  justify-content: space-between;
  padding: 47px 8px 0 0;
}

@media (max-width: 1023px) {
  .header .header__inner {
    padding: 47px 34px 0 0;
  }
}

@media (max-width: 767px), screen and (max-width: 812px) and (orientation: landscape) {
  .header .header__inner {
    padding: 30px 0 0;
  }
}

.header .header__aside {
  display: flex;
  justify-content: space-between;
  width: 82.7%;
}

@media (max-width: 1023px) {
  .header .header__aside {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background-color: #025bca;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
    z-index: 4;
    transition: opacity 0.4s, visibility 0.4s, transform 0.4s;
  }
}

@media (max-width: 1023px) {
  .header .header__login-container {
    width: 100%;
    text-align: center;
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.header .header__aside.is-visible {
  opacity: 1;
  visibility: visible;
  transform: translateX(-100%);
  display: block;
}

/* ------------------------------------------------------------ *\
	Hero
\* ------------------------------------------------------------ */

.hero {
  min-height: 765px;
  overflow: hidden;
}

.hero .hero__background {
  background-repeat: no-repeat;
  background-size: 100% auto;
  position: absolute;
  top: 0;
  left: -77px;
  right: -133px;
  bottom: -179px;
  min-height: 739px;
}

@media (max-width: 1023px) {
  .hero .hero__background {
    background-size: cover;
  }
}

@media (max-width: 767px), screen and (max-width: 812px) and (orientation: landscape) {
  .hero .hero__background {
    left: -145px;
  }
}

.hero .hero__inner {
  display: flex;
  padding-top: 216px;
  position: relative;
}

@media (max-width: 1023px) {
  .hero .hero__inner {
    display: flex;
    flex-wrap: wrap;
    padding: 180px 0 0;
  }
}

@media (max-width: 767px), screen and (max-width: 812px) and (orientation: landscape) {
  .hero .hero__inner {
    padding: 150px 0 0;
  }
}

.hero .hero__image {
  width: 40.3%;
  padding-left: 106px;
}

@media (max-width: 1023px) {
  .hero .hero__image {
    padding-left: 0;
  }
}

@media (max-width: 767px), screen and (max-width: 812px) and (orientation: landscape) {
  .hero .hero__image {
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
  }
}

.hero .hero__image img {
  width: 277px;
  height: 315px;
}

.hero .hero__content {
  width: 59.7%;
  padding: 23px 98px 0 0;
}

@media (max-width: 1023px) {
  .hero .hero__content {
    padding: 0 0 0;
  }
}

@media (max-width: 767px), screen and (max-width: 812px) and (orientation: landscape) {
  .hero .hero__content {
    width: 100%;
  }
}

.hero .hero__content h1 span {
  color: #00c6ff;
}

.hero .hero__content h1 {
  margin-bottom: 20px;
}

@media (max-width: 1023px) {
  .hero .hero__content h1 {
    margin-bottom: 10px;
  }
}

.hero .hero__content p {
  letter-spacing: 0.1em;
}

@media (max-width: 1023px) {
  .hero .hero__content p {
    margin-bottom: 20px;
  }
}

.hero .hero__actions {
  margin-bottom: 39px;
}

@media (max-width: 1023px) {
  .hero .hero__actions {
    margin-bottom: 30px;
  }
}

/* ------------------------------------------------------------ *\
	Link
\* ------------------------------------------------------------ */

.link {
  text-decoration: none;
  margin-right: 34px;
  margin-top: 6px;
  font-size: 20px;
  letter-spacing: 0.05em;
  transition: color 0.3s;
}

@media (max-width: 1023px) {
  .link {
    width: 100%;
    margin: 0 0 15px 0;
  }
}

.link:hover {
  color: #00c6ff;
}

/* ------------------------------------------------------------ *\
	Logo
\* ------------------------------------------------------------ */

/* ------------------------------------------------------------ *\
	Main
\* ------------------------------------------------------------ */

.main {
  background-repeat: no-repeat;
  background-position: center top;
  margin-top: -250px;
  padding-top: 250px;
}

/* ------------------------------------------------------------ *\
	Nav
\* ------------------------------------------------------------ */

.nav {
  padding-left: 59px;
  padding-top: 7px;
}

@media (max-width: 1023px) {
  .nav {
    width: 100%;
    padding: 100px 0 0;
    text-align: center;
    padding: 45px 0 0;
  }
}

@media (max-width: 575px) {
  .nav {
    padding: 28px 0 0;
  }
}

.nav ul {
  display: flex;
}

@media (max-width: 1023px) {
  .nav ul {
    display: flex;
    flex-direction: column;
  }
}

.nav li + li {
  margin-left: 26px;
}

@media (max-width: 1023px) {
  .nav li + li {
    margin-left: 0;
    margin-top: 15px;
  }
}

@media (max-width: 767px), screen and (max-width: 812px) and (orientation: landscape) {
  .nav li + li {
    margin-top: 20px;
  }
}

.nav a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.05em;
  transition: color 0.3s;
}

.nav a:hover {
  color: #00c6ff;
}

/* ------------------------------------------------------------ *\
	Scroll btn
\* ------------------------------------------------------------ */

.scroll-btn {
  margin-left: 57px;
}

@media (max-width: 767px), screen and (max-width: 812px) and (orientation: landscape) {
  .scroll-btn {
    display: block;
    width: 100%;
    text-align: center;
    margin-left: 0;
  }
}

/* ------------------------------------------------------------ *\
	Section alt
\* ------------------------------------------------------------ */

.section-alt {
  padding-top: 114px;
  overflow: hidden;
}

@media (max-width: 767px), screen and (max-width: 812px) and (orientation: landscape) {
  .section-alt {
    padding-top: 60px;
  }
}

.section-alt .section__background {
  background-repeat: no-repeat;
  background-size: 100% auto;
  position: absolute;
  top: -116px;
  left: -125px;
  right: -91px;
  bottom: 0;
}

@media (max-width: 767px), screen and (max-width: 812px) and (orientation: landscape) {
  .section-alt .section__background {
    background-size: cover;
  }
}

.section-alt .section__head {
  text-align: center;
  margin-bottom: 34px;
  position: relative;
}

@media (max-width: 767px), screen and (max-width: 812px) and (orientation: landscape) {
  .section-alt .section__head {
    margin-bottom: 0;
  }
}

.section-alt .section__body {
  max-width: 770px;
  margin: 0 auto;
  position: relative;
  padding-bottom: 45px;
}

/* ------------------------------------------------------------ *\
	Section
\* ------------------------------------------------------------ */

.section {
  padding: 10px 0 93px;
}

@media (max-width: 767px), screen and (max-width: 812px) and (orientation: landscape) {
  .section {
    padding: 45px 0;
  }
}

.section .section__head {
  text-align: center;
  margin-bottom: 62px;
}

@media (max-width: 1023px) {
  .section .section__head {
    margin-bottom: 40px;
  }
}

.section .section__body {
  display: flex;
}

@media (max-width: 1023px) {
  .section .section__body {
    display: flex;
    flex-wrap: wrap;
    padding: 0 15px;
  }
}

@media (max-width: 767px), screen and (max-width: 812px) and (orientation: landscape) {
  .section .section__body {
    padding: 0 0 0;
  }
}

.section .section__image {
  width: 44.6%;
  padding-left: 105px;
}

@media (max-width: 1023px) {
  .section .section__image {
    padding-left: 0;
  }
}

@media (max-width: 767px), screen and (max-width: 812px) and (orientation: landscape) {
  .section .section__image {
    width: 100%;
    text-align: center;
  }
}

.section .section__image img {
  width: 314px;
  height: 348px;
}

.section .section__content {
  width: 55.4%;
  padding-right: 100px;
}

@media (max-width: 1023px) {
  .section .section__content {
    padding-right: 0;
  }
}

@media (max-width: 767px), screen and (max-width: 812px) and (orientation: landscape) {
  .section .section__content {
    width: 100%;
    padding-right: 0;
  }
}

.section .section__content h2 {
  color: #2888ff;
  margin-bottom: 5px;
}

.section .section__content p {
  letter-spacing: 0.05em;
}

/* ------------------------------------------------------------ *\
	Select
\* ------------------------------------------------------------ */

.select select::-ms-expand {
  display: none;
}

/* ------------------------------------------------------------ *\
  Shell
\* ------------------------------------------------------------ */

.shell {
  max-width: calc( 1100px + 15px * 2 );
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
  position: relative;
}

/*  Shell large  */

.shell--large {
  max-width: 1260px;
}

/*  Shell small  */

.shell--small {
  max-width: 1045px;
}

/* Shell Fluid */

.shell--fluid {
  max-width: none;
}

/* ------------------------------------------------------------ *\
	Socials
\* ------------------------------------------------------------ */

@media (max-width: 767px), screen and (max-width: 812px) and (orientation: landscape) {
  .socials {
    margin-top: 20px;
  }
}

.socials ul {
  display: flex;
}

@media (max-width: 767px), screen and (max-width: 812px) and (orientation: landscape) {
  .socials ul {
    display: flex;
    justify-content: center;
  }
}

.socials li {
  list-style-type: none;
}

.socials li + li {
  margin-left: 31px;
}

.socials a {
  transition: opacity 0.3s;
}

.socials a:hover {
  opacity: 0.7;
}

/* ------------------------------------------------------------ *\
	Wrapper
\* ------------------------------------------------------------ */

.wrapper {
  position: relative;
  min-height: 100vh;
  background-color: #031124;
}

/* ------------------------------------------------------------ *\
	Overwrites
\* ------------------------------------------------------------ */

