/* ------------------------------------------------------------ *\
	Bar
\* ------------------------------------------------------------ */

.bar {
	background-color: inherit;
	padding-top: 15px;
	padding-bottom: 15px;
	max-width: 1170px;
	margin: 0 auto;
	border-top-left-radius: 11px;
	border-top-right-radius: 11px;

	.bar__inner {
		display: flex; 
		justify-content: space-between;
		padding: 0 6px 0 8px;

		@include breakpoint-down(mobile) {
		 	display: flex;
		 	flex-direction: column;
		 	text-align: center;
		 } 
	}	

	p {
		font-size: 16px;
		letter-spacing: 0.075em;
		color: #abb1b3;
		line-height: 1.25;
		font-weight: 400;
		margin-top: 3px;
		margin-bottom: 1px; 
	}
}