/* ------------------------------------------------------------ *\
	Button
\* ------------------------------------------------------------ */

.btn {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
	appearance: none;
	min-width: 171px;
	min-height: 53px;
	line-height: 53px;
	font-size: 20px;
	color: #011f27;
	padding: 0 20px;
	font-weight: 400;
	color: #011f27;
	background-color: $c-white;
	border-radius: 20px;
	letter-spacing: 0.05em;
	transition: background-color .3s, color .3s;
}

.btn:hover {
	background-color: $c-base-dark;
	color: $c-white;
}

/*  Btn secondary  */

.btn--secondary {
	background-color: transparent;
	border: 4px solid $c-white;
	min-height: 66px;
	min-width: 141px;
	line-height: 58px;
	font-size: 16px;
	color: $c-white;
	box-shadow: none;
}

.btn--secondary:hover {
	background-color: $c-base-dark;
}

/*  Btn alt  */

.btn--alt {
	background-color: #2888ff;
	color: $c-white;
}

/*  Btn block  */

.btn--block {
	display: block;
	padding-left: 0;
	padding-right: 0;
}
