/* ------------------------------------------------------------ *\
	Burger btn
\* ------------------------------------------------------------ */

.burger-btn {
	padding-top: 16px;
	margin-left: 20px;
	position: relative; 
	z-index: 6;
	display: none;

	@include breakpoint-down(tablet) {
		display: block; 
	}

	span {
		display: block;
		width: 25px;
		height: 3px;
		background-color: #011f27;
		transition: transform .3s;
	}

	span + span {
		margin-top: 5px; 
	}

	&.is-active span:first-child {
		transform: rotate(45deg);
		position: absolute;
		top: 21px; 
	}

	&.is-active span:nth-child(2) {
		display: none;
	}

	&.is-active span:last-child {
		transform: rotate(135deg);
	}
}