/* ------------------------------------------------------------ *\
	Fields
\* ------------------------------------------------------------ */

.field {
	width: 100%;
	outline: none;
	height: 40px;
	font-size: 13px;
	color: #a4a4a4;
	border: none;
	border-radius: 4px;
	padding-left: 54px;
	padding-right: 8px;
	font-weight: 500;

	&:-ms-input-placeholder {
		color: #828282;
	}
}




/*  Field textarea  */
.field--textarea {
}
