/* ------------------------------------------------------------ *\
	Footer
\* ------------------------------------------------------------ */

.footer {
	background-size: cover;
	background-repeat: no-repeat;

	.footer__inner {
		padding: 75px 0 24px 7px;

		@include breakpoint-down(tablet) {
			padding: 76px 0 24px 0;
		}

		@include breakpoint-down(mobile) {
			padding: 50px 0 24px 0;
		}
	}

	.footer__cols {
		display: flex;
		flex-wrap: wrap;

		@include breakpoint-down(mobile) {
			text-align: center;
		}
	}

	.footer__col--size-1 {
		width: 39.8%;

		@include breakpoint-down(mobile) {
			width: 100%;
		}
	}

	.footer__col--size-2 {
		width: 36.4%;

		@include breakpoint-down(mobile) {
			width: 100%;
		}
	}

	.footer__col--size-3 {
		width: 23.8%;

		@include breakpoint-down(mobile) {
			width: 100%;
		}
	}

	.footer__logo {
		margin-top: 9px;
		display: inline-block;

		@include breakpoint-down(mobile) {
			margin-top: 0;
		}
	}

	.footer__entry {
		padding-right: 100px;

		@include breakpoint-down(tablet) {
			padding-right: 70px;
		}

		@include breakpoint-down(tablet) {
			padding-right: 0; 
		}
	}

	.footer__entry p {
		font-size: 16px;
		line-height: 1.25;
		margin-top: 38px;
		letter-spacing: 0.075em;
		color: #d0d6d7;

		@include breakpoint-down(mobile) {
			margin: 20px 0 20px;
			font-size: 14px; 
		}
	}

	.footer__head {
		margin-bottom: 23px;
	}

	.footer__head h6 {
		@include breakpoint-down(mobile) {
			font-size: 18px;
		}
	}

	.footer__nav {
		@include breakpoint-down(mobile) {
			margin-bottom: 20px;
		}
	}

	.footer__nav li + li {
		margin-top: 22px;

		@include breakpoint-down(mobile) {
			margin-top: 15px; 
		}
	}

	.footer__nav a {
		text-decoration: none;
		font-size: 20px;
		letter-spacing: 0.075em;
		font-weight: 500;
		color: #cfddf3;
		transition: color .3s;

		@include breakpoint-down(mobile) {
			font-size: 18px;
		}
	}

	.footer__nav a:hover {
		color: #00c6ff;
	}
}
