/* ------------------------------------------------------------ *\
	Form
\* ------------------------------------------------------------ */

.form-sign-up {
	padding: 0 6px; 

	.form__head {
		text-align: right;
		max-width: 175px;
		margin-left: auto;
		margin-bottom: 14px;

		@include breakpoint-down(mobile) {
			text-align: center;
			max-width: 100%;
		}
	}

	.form__head h6 {
		color: $c-white;
		font-weight: 400;
		letter-spacing: 0.075em;
		line-height: 1.6;

		@include breakpoint-down(mobile) {
			font-size: 18px;
		}
	}

	.form__controls {
		position: relative;
	}

	.form__controls:before {
		content: '';
		display: block; 
		position: absolute;
		top: 50%;
		left: 15px;
		transform: translateY(-50%);
		background-image: url(assets/images/ico-mail.svg);
		background-repeat: no-repeat;
		width: 24px;
		height: 15px;
	}

	.form__controls:after {
		content: '';
		display: block;
		width: 2px;
		height: 30px;
		background-color: #e8e8e8;
		position: absolute; 
		top: 6px;
		left: 48px;
	}

	.form__body {
		margin-bottom: 10px;
	}

	.form__actions {
		text-align: right;

		@include breakpoint-down(tablet) {
			text-align: center;
		}
	}

	.form__btn {
		min-width: 79px;
		min-height: 31px;
		line-height: 31px;
		font-size: 14px;
		letter-spacing: 0.075em;
		background-color: #00c6ff;
		border-radius: 4px;
		border: none;
		outline: none;
		color: $c-white;
		padding: 0 10px;
		font-weight: 500;
	}

	.form__btn:hover {
		background-color: #0b3870;
	}
}