/* ------------------------------------------------------------ *\
	Hero
\* ------------------------------------------------------------ */

.hero {
	min-height: 765px;
	overflow: hidden;

	.hero__background {
		background-repeat: no-repeat;
		background-size: 100% auto;
		position: absolute;
		top: 0;
		left: -77px;
		right: -133px;
		bottom: -179px;
		min-height: 739px;

		@include breakpoint-down(tablet) {
			background-size: cover;
		}

		@include breakpoint-down(mobile) {
			left: -145px;
		}
	}

	.hero__inner {
		display: flex;
		padding-top: 216px;
		position: relative;

		@include breakpoint-down(tablet) {
			display: flex;
			flex-wrap: wrap;
			padding: 180px 0 0;
		}

		@include breakpoint-down(mobile) {
			padding: 150px 0 0;
		}
	}

	.hero__image {
		width: 40.3%;
		padding-left: 106px;

		@include breakpoint-down(tablet) {
		 	padding-left: 0; 
		}

		@include breakpoint-down(mobile) {
			width: 100%;
			text-align: center;
			margin-bottom: 40px;
		}
	}

	.hero__image img {
		width: 277px;
		height: 315px;
	}

	.hero__content {
		width: 59.7%;
		padding: 23px 98px 0 0;

		@include breakpoint-down(tablet) {
			padding: 0 0 0;
		}

		@include breakpoint-down(mobile) {
			width: 100%;
		}
	}

	.hero__content h1 span {
		color: #00c6ff;
	}

	.hero__content h1 {
		margin-bottom: 20px;

		@include breakpoint-down(tablet) {
			margin-bottom: 10px;
		}
	}

	.hero__content p {
		letter-spacing: 0.1em;

		@include breakpoint-down(tablet) {
			margin-bottom: 20px;
		}
	}

	.hero__actions {
		margin-bottom: 39px;

		@include breakpoint-down(tablet) {
			margin-bottom: 30px; 	
		} 
	}
}