/* ------------------------------------------------------------ *\
	Main
\* ------------------------------------------------------------ */

.main {
	background-repeat: no-repeat;
	background-position: center top;  
	margin-top: -250px;
	padding-top: 250px;
}
