/* ------------------------------------------------------------ *\
	Scroll btn
\* ------------------------------------------------------------ */

.scroll-btn {
	margin-left: 57px;

	@include breakpoint-down(mobile) {
		display: block; 
	 	width: 100%;
	 	text-align: center;
	 	margin-left: 0; 
	 } 
}