/* ------------------------------------------------------------ *\
	Section
\* ------------------------------------------------------------ */

.section {
	padding: 10px 0 93px;

	@include breakpoint-down(mobile) {
		padding: 45px 0;
	}

	.section__head {
		text-align: center;
		margin-bottom: 62px;

		@include breakpoint-down(tablet) {
			margin-bottom: 40px;
		}
	}

	.section__body {
		display: flex;

		@include breakpoint-down(tablet) {
			display: flex;
			flex-wrap: wrap;
			padding: 0 15px;
		}

		@include breakpoint-down(mobile) {
			padding: 0 0 0;
		}
	}
	
	.section__image {
		width: 44.6%;
		padding-left: 105px;

		@include breakpoint-down(tablet) {
		 	padding-left: 0; 
		} 

		@include breakpoint-down(mobile) {
			width: 100%;
			text-align: center;
		}
	}

	.section__image img {
		width: 314px;
		height: 348px;
	}

	.section__content {
		width: 55.4%;
		padding-right: 100px;

		@include breakpoint-down(tablet) {
			padding-right: 0; 
		}

		@include breakpoint-down(mobile) {
			width: 100%;
			padding-right: 0;
		} 
	}

	.section__content h2 {
		color: #2888ff;
		margin-bottom: 5px;  
	}

	.section__content p {
		letter-spacing: 0.05em;
	}
}