/* ------------------------------------------------------------ *\
  Shell
\* ------------------------------------------------------------ */

.shell {
	max-width: calc( #{$shell-max-width} + #{$shell-gutter} * 2 );
	padding-left: $shell-gutter;
	padding-right: $shell-gutter;
	margin: auto;
	position: relative;
}

/*  Shell large  */

.shell--large {
	max-width: 1260px;
}

/*  Shell small  */

.shell--small {
	max-width: 1045px;
}

/* Shell Fluid */

.shell--fluid {
	max-width: none;
}
