.logo {
    width: 200px;
    height: 50px;
    cursor: pointer;
}

.navbar-text {
    color: $white !important;
}

.navbar-brand {
    margin-left: 100px;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, .55);
}

.navbar-text .navbar-nav .nav-link,
.navbar-text .navbar-nav .show>.nav-link {
    text-decoration: none;
    margin-left: 25px;
    color: #fff;
}

.navbar-text .navbar-nav .nav-link:hover,
.navbar-text .navbar-nav .show>.nav-link {
    color: $green;
}

.navbar-text .navbar-nav .nav-link.active,
.navbar-text .navbar-nav .show>.nav-link {
    text-decoration: none;
    background-color: $highlight-color;
    border-radius: 10px;
    color: #fff;
}