// Body
$body-bg: #011f27;
// Typography
$font-family-sans-serif: 'Jakarta Display',
sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
// Colors
$light-blue: #00c6ff;
$dark-blue:#101516;
$dark: #2E3047;
$highlight-color: #2E3047;
$white: #ecf0f1;
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #3BBA9C;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$light-blue: #00c6ff;
$dark-blue:#101516;